body {
    padding: 2rem;
    background-color: #101820;
    font-family: 'Lato', sans-serif;
}

a:link{
    color: #555555;
}

a:visited{
    color: #555555;
}

a:hover{
    color: #333333;
}

h1 {
    font-size: 48px;
}



/* Szablon*/

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* logo */

#logo {
    float: left;
    color: #F2AA4C;
    margin-top: 20px;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 900;
    width: 850px;
}

/* panel logowanie */

#logpanel {
    margin-top: 30px;
    width: 150px;
    float: left;
}

.log:link {
    color: #F2AA4C;
}

.log:visited {
    color: #F2AA4C;
}

.log {
    border-radius: 30px;
    background-color: #101820;
    border: 2px solid #888888;;
    color: #F2AA4C;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.5s;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0px 12px 16px 0 rgba(0,0,0,0.15)
}
.log:hover {
    background-color: #212931;
    color: #F2AA4C;
    border-color: white;
    box-shadow: 20px 20px 16px 0 rgba(0,0,0,0.35);
}

/* menu */

#menu {
    width: 980px;
    margin-top: 20px;
    background-color: #303030;
    border-radius: 15px;
    transition-duration: 0.5;
    padding: 10px;
    color: #F2AA4C;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.option {
    float: left;
    margin-left: 15px;
    background-color: #303030;
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
}

.option:hover {
    box-shadow: 0px 0px 15px #F2AA4C, 0px 0px 25px #F2AA4C;
    text-shadow: 0px 0px 35px #F2AA4C, 0px 0px 35px #F2AA4C;
    cursor: pointer;
}



/* main side */

#topbar{
    background-color: #303030;
    height: 130px;
    border-radius: 15px 15px 0 0;
    color: white;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topbarL {
    float: left;
    padding: 20px;
    width: 138px;
    text-align: center;
}

#topbarM {
    float: left;
    padding: 20px;
    width: 580px;
    border-right: 2px dotted #CCCCCC;
    border-left: 2px dotted #CCCCCC;
    font-size: 16px;
    text-align: center;
}

#topbarR {
    float: left;
    padding: 20px;
    width: 138px;
    text-align: center;
}

.timg{
    height: 125px;
}

/* Left side */

#sidebar {
    float: left;
    width: 148px;
    min-height:620px;
    height: 100%;
    padding: 20px;
    color: white;
    background-color: #303030;
    text-align: center;
    font-size: 18px;
    border-right: 2px dotted #666666;
}

.optionL {
    transition-duration: 0.5s;
    border-radius: 15px;
    font-size: 18px;
    height: 25px;
    padding: 10px;
    border-bottom: 2px solid #444444;
}

.optionL:hover {
    background-color: #AAAAAA;
    color: white;
    cursor: pointer;
}

/* Right side */

#content {
    color: black;
    float: right;
    padding: 40px;
    width: 730px;
    background-color: #DEDEDE;
    min-height: 580px;
    text-align: justify;

}

.film-plakat {
    width: 100px;
    height: 140px;
    float: left;
    border-radius: 7px;
}

.card-title {
    margin-left: 110px;
}

.icn1 {
    margin-left: 10px;
    transition-duration: 0.3s;
}

.icn2 {
    margin-left: 5px;
    transition-duration: 0.3s;
}

.desc {
    margin-left: 110px;
}

/* Footer */

#footer {
    float: left;
    width: 960px;
    padding: 20px;
    background-color: #303030;
    color: white;
    border-radius: 0px 0px 15px 15px;
}

/*-------*/



.loginwelcome {
    text-transform: capitalize;
    color: #F2AA4C;
}

.opis {
    margin-left: 15px;
    margin-top: 20px;
}

.card {
    width: 36rem;
}

/* Strona logowania */

.logpanel1 {
    background-color: #303030;
    color: #F2AA4C;
    padding: 30px;
    width: 450px;
    height: 200px;
    border-radius: 15px;
    text-align: center;

}

.card-title {
    color: white;
    display: block;
    justify-content: center;
}

.logdiv {
    float: left;
}
