body {
    padding: 2rem;
    background-color: #404040;
    font-family: 'Lato', sans-serif;
    color: white;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    color: white;
    margin-top: 20px;
    font-size: 44px;
    letter-spacing: 3px;
    font-weight: 900;
}

#menu {
    margin-top: 20px;
    background-color: #303030;
    padding: 10px;
}

#logpanel {

}

#content {

}

#footer {

}

.option {
    float: left;
    background-color: #303030
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px dotted #444444;
    opacity: 0.8;

}

.option:hover {
    background-color: #000000;
    cursor: pointer;
}

#topbar {
    background-color: #CCCCCC;
    color: black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 170px;
}

#topbarL {
    float: left;
    padding: 20px;
    width: 138px;
    text-align: center;
    border-right: 2px dotted #CCCCCC;
}

#topbarM {
    float: left;
    padding: 20px;
    width: 580px;
    font-size: 16px;
    text-align: justify;
}

#topbarR {
    float: left;
    padding: 20px;
    width: 138px;
    text-align: center;
    border-right: 2px dotted #CCCCCC;
}

.topimg {
    height: 140px;
}

.film-plakat {
    width: 100px;
    float: left;
}

.opis {
    margin-left: 15px;
    margin-top: 20px;
}

.card {
    width: 36rem;
}


h1 {
    font-size: 48px;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: #AAAAAA;
}

