{% extends 'glowny.html' %}
{% load static %}
{% block tytul %}Lista filmów{% endblock %}


{% block strona %}


    <!-- Nad tekst strony -->

    <div id="topbar">
        <div id="topbarL">
            <img class="timg" src="{% static 'camera.png' %}" alt="Camera">
        </div>

        <div id="topbarM">
            Witaj w moim projekcie strony internetowej dla miłośników filmów ;) Po dołączeniu do naszego małego grona , masz możliwość prowadzenia własnej historii, filmologii i zdobywania osiągnięć w tym co kochasz !
        </div>

        <div id="topbarR">
            <img class="timg" src="{% static 'camera.png' %}" alt="Camera">
        </div>
        <div style="clear:both"></div>
    </div>

    <!-- Lewa strona główna -->

    <div id="sidebar">
        <div class="optionL">Filmy</div>
        <div class="optionL">Seriale</div>
        <div class="optionL">Ranking</div>
        <div class="optionL">Moje filmy</div>
        <div class="optionL">Moje osiągnięcia</div>
    </div>

    <!-- Prawa strona główna -->

    <div id="content">
        <!--
        Funkcja dodawania filmów.

        <a href="{% url 'nowy_film' %}">Nowy film <i class="fa-solid fa-square-plus"></i></a> -->
        {% if filmy|length == 0 %}
            <h1>Brak filmów</h1>
        {% else %}
        <h1>Polecane :</h1>

            {% for film in filmy %}
                <div class="card">
                  <div class="card-body">
                      <img src="/media/{{film.plakat}}" class="film-plakat">
                          <div class="row">
                              <div class="col-9">
                                  <h5 class="card-title">{{ film }}</h5>
                              </div>
                              <div class="col-3">
                                  <a href="{% url 'edytuj_film' film.id %}" class="icn1"><i class="fa-solid fa-2x fa-pen-to-square"></i></a>
                                  <a href="{% url 'usun_film' film.id %}" class="icn2"><i class="fa-solid fa-2x fa-trash"></i></a>
                              </div>
                          </div>
                          <div class="row">
                              <p class="desc">{{ film.opis }}</p>
                          </div>
                  </div>
                </div>
            {% endfor %}
        <!--{% endif %}-->
    </div>

    <!-- Stopka -->

    <div id="footer">To jest stopka</div>
</div>
{% endblock strona %}