{% extends 'glowny.html' %}

{% block tytul %}Lista filmów{% endblock %}


{% block strona %}
    {% if user.is_authenticated %}
        Użytkownik : {{ user.username }}</br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <hr>

    <a href="{% url 'nowy_film' %}">Nowy film</a>

    {% if filmy|length == 0 %}
        <h1>Brak filmów</h1>
    {% else %}
        <h1>Ilość filmów w BD: {{ filmy|length }}</h1>

        {% for film in filmy %}
            <h3>{{ film.tytul }} ({{ film.rok }})</h3>
            <p>{{ film.opis }}</p>
            <a href="{% url 'edytuj_film' film.id %}">Edytuj</a>
            <a href="{% url 'usun_film' film.id %}">Usuń</a>
        {% endfor %}
    {% endif %}
{% endblock %}